<%- include("templates/header") %>

<div class="box">
    <h1 style='color:darkred'>Error!</h1>  
    <p style='color:darkred'>A NoSQL injection attack was detected!!</p>
</div>

<%- include("templates/footer") %>