<%- include("templates/header") %> 

<h1>Hello!</h1>
<div style="display:inline-flex">
  <form action='/login' method='get'>
    <button class="btn" style="text-decoration: underline;">Login</button>
  </form>
  <span style="padding-top: 7px;">or</span>
  <form action='/signup' method='get'>
    <button class="btn" style="text-decoration: underline;">Sign up</button>
  </form>
</div>

<%- include("templates/footer") %> 