<%- include("templates/header") %>

<div class="d-flex gap-2 justify-content-center py-5"> 
  <form class="text-center" action='/loggingin' method='post'>
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>

      <input name='email' type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

      <input name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

<%- include("templates/footer") %>