<%- include("templates/header") %> 

<h1>Welcome, <%= name %>!</h1>
<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img class="img-fluid" src='/Ayato.jpg' style="width:250px; height:auto;"></div>
    <div class="col-md-4 themed-grid-col"><img class="img-fluid" src='/Hutao.jpg' style="width:250px; height:auto;"></div>
    <div class="col-md-4 themed-grid-col"><img class="img-fluid" src='/Paimon.gif' style="width:250px; height:auto;"></div>
  </div>  

<%- include("templates/footer") %> 