<%- include ("svgs") %>

<footer class="fixed-bottom d-flex justify-content-between align-items-center border-top p-4 text-center">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">Markus' Club, All Rights Reserved</span>
    </div>
  
    <div class="d-flex">
      <a class="text-muted me-3" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a>
      <a class="text-muted me-3" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a>
      <a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a>
    </div>
  </footer>
  