<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 2 - 2537</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
        <div class="container-fluid">
          <h1 class="navbar-brand">Markus' Club</h1>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link mx-3" href="/admin">Admin</a>
              <a class="nav-link mx-3" href="/members">Members</a>
              <a class="nav-link mx-3" href="/login">Login</a>
              <a class="nav-link mx-3" href="/signup">Signup</a>
              <a class="nav-link mx-3" href="/404">404</a>
              <a class="nav-link mx-3" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
